<h3>Edit Domain</h3>
<%= render 'form', domain: @domain,
           url: admin_domain_path,
           method: :patch,
           submit_text: 'Update' %>
<p><%= link_to 'Back', admin_domains_path, class: 'btn btn-secondary' %></p>
